.Header {
  border-bottom: 1px solid #000000;
  width: 100%;
  padding: 5px 15px;
  box-sizing: border-box;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

@media screen and (min-width: 1280px) {
  .Header {
    display: none;
  }
}

.menu {
  position: absolute;
  background-color: white;
  z-index: 999;
  width: 100%;
  height: 100%;

  li {
    border-bottom: solid black 1px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    font-weight: 700;
  }
}
