.item__item {
  height: 70px;
  padding: 13px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid black 1px;
  width: 100%;

  :nth-child(2) {
    font-size: 10px;
  }

  :last-child {
    cursor: pointer;
    padding-right: 5px;
  }
}
