.wrapper {
  border-bottom: solid black 1px;
  padding-left: 10px;

  padding-bottom: 10px;
  .title {
    padding-top: 10px;
  }

  .company {
    font-size: 8px;
    padding-left: 10px;
  }

  .time {
    font-size: 10px;
  }
}
