.wrapper {
  width: 100%;
  height: calc(100vh - 85px);
  display: flex;

  @media screen and (max-width: 1280px) {
    flex-direction: column;
    height: 100%;
  }

  .content_wrapper {
    border-right: solid black 1px;
    width: 50%;
    overflow-y: scroll;
    position: relative;

    .loader {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    @media screen and (max-width: 1280px) {
      width: 100%;
      height: auto;
    }
  }

  .content_wrapper2 {
    width: 50%;

    @media screen and (max-width: 1280px) {
      width: 100%;
    }

    .categories {
      border-bottom: solid black 1px;
      display: flex;
      align-items: center;
      height: 140px;
      justify-content: space-evenly;

      @media screen and (max-width: 1280px) {
        height: auto;
      }

      h3 {
        width: 50%;
        text-align: center;
        margin: 0;
      }
    }
  }
}

.activecontent {
  border-right: solid black 1px;
}

.activecontent2 {
  border-left: solid black 1px;
}

.scraplist {
  border-bottom: solid 1px black;
  display: flex;
  align-items: center;
  height: 70px;

  .scrapelist__count {
    height: 100%;
    width: 70px;
    border-right: solid 1px black;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .scraplist__title {
    height: 70px;
    display: flex;
    align-items: center;
    width: 100%;

    &:hover {
      background-color: black;
      color: white;
    }

    p {
      padding-left: 10px;
      margin: 0;
    }
  }
}
