.form {
  background-color: white;
  border-left: solid black 1px;
  width: 50%;
  position: absolute;
  right: 0;
  height: calc(100vh - 80px);

  @media screen and (max-width: 1280px) {
    width: 100%;
  }

  .email {
    border-bottom: solid black 1px;
    font-size: 25px;
    padding: 10px 0;
    @media screen and (max-width: 1280px) {
      font-size: 20px;
    }

    input {
      border: none;
      border-top: solid black 1px;
      font-size: 25px;
      width: 100%;

      &:focus {
        outline: none;
      }
    }
  }

  .username {
    border-bottom: solid black 1px;
    font-size: 25px;
    padding: 10px 0;

    @media screen and (max-width: 1280px) {
      font-size: 20px;
    }
    input {
      border: none;
      border-top: solid black 1px;
      font-size: 30px;
      width: 100%;

      &:focus {
        outline: none;
      }
    }
  }

  .button {
    button {
      width: 50%;
      border-bottom: solid black 1px;
      padding: 15px 0;

      &:hover {
        color: white;
        background-color: black;
      }
    }

    :nth-child(1) {
      border-right: solid black 1px;
    }
  }
}
