.wrapper {
  display: flex;
}

.openIcon {
  display: flex;
  cursor: pointer;
  position: relative;
  height: 35px;
  width: 35px;
  background-color: #ffffff;
  border: black solid 1px;
  background: white;
  border-radius: 50%;
  justify-content: center;
  margin-right: 15px;
  justify-content: center;
  align-items: center;
}

.tooltip {
  display: flex;
  margin-left: 10px;
  transition: all 200ms;
}
