.bottom {
  display: flex;
  align-items: center;
  border-top: solid black 1px;
  height: 200px;

  @media screen and (max-width: 1280px) {
    display: block;
    height: 200px;
    align-items: center;
  }
}

.bottom_left {
  width: 70%;
  @media screen and (max-width: 1280px) {
    display: none;
    align-items: center;
  }
}

.bottom_right {
  display: flex;
  align-items: center;
  padding-left: 30px;
  width: 30%;
  border-left: solid black 1px;
  height: 100%;
}
