.wrapper {
  width: 50%;
  height: calc(100vh - 85px);

  @media screen and (max-width: 1280px) {
    width: 100%;
  }
  .title {
    border-bottom: solid 1px black;
    text-align: center;
    padding-right: 100px;
    margin: 0;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;

    h3 {
      margin: 0;
    }
    @media screen and (max-width: 1280px) {
      height: auto;
    }
  }
}
