.wrapper {
  height: 100vh;
  flex-wrap: wrap;
  height: 100vh;
  width: 50%;
  border-right: solid black 1px;
  position: relative;

  @media screen and (max-width: 1280px) {
    width: 100%;
    height: auto;
  }

  .content_wrapper {
    overflow-y: scroll;
    height: 100vh;
    position: relative;

    @media screen and (max-width: 1280px) {
      width: 100%;
      height: auto;
    }

    .articlecontent {
      border-bottom: solid 1px black;
      display: flex;
      height: 60px;
      align-items: center;
      padding-left: 5px;
    }
  }
}
