.wrapper {
  width: 100%;
  height: calc(100vh - 85px);

  .scraplist {
    border-bottom: solid 1px black;
    display: flex;
    align-items: center;
    height: 70px;

    .scrapelist__count {
      height: 100%;
      width: 80px;
      border-right: solid 1px black;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .scraplist__title {
      height: 70px;
      display: flex;
      align-items: center;
      width: 100%;

      &:hover {
        background-color: black;
        color: white;
      }

      p {
        padding-left: 10px;
        margin: 0;
      }
    }
  }

  .addscrap {
    border-bottom: solid 1px black;
    display: flex;
    align-items: center;
    height: 70px;

    .addscrapicon {
      height: 100%;
      border-right: solid 1px black;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 74px;

      &:hover {
        background-color: black;
        color: white;
      }
    }

    input {
      border: none;
      font-size: 24px;
      padding-left: 10px;
      height: 100%;
      align-items: center;
      width: 100%;
      display: block;
      flex: 9;

      &:focus {
        outline: none;
      }
    }
  }
}

.scraplist__wrapper {
  overflow-y: scroll;
  max-height: calc(100vh - (140px + 85px + 140px));
}
