.wrapper {
  width: 100%;

  .scraplist {
    border-bottom: solid 1px black;
    display: flex;
    align-items: center;
    height: 60px;

    .scrapelist__count {
      height: 100%;
      width: 70px;
      flex: 1;
      border-right: solid 1px black;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .scraplist__title {
      height: 60px;
      display: flex;
      align-items: center;
      flex: 9;

      &:hover {
        background-color: black;
        color: white;
      }

      p {
        padding-left: 10px;
        margin: 0;
      }
    }
  }

  .addscrap {
    border-bottom: solid 1px black;
    display: flex;
    align-items: center;
    height: 60px;

    .addscrapicon {
      height: 100%;
      border-right: solid 1px black;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;

      &:hover {
        background-color: black;
        color: white;
      }
    }

    input {
      border: none;
      font-size: 24px;
      padding-left: 10px;
      height: 100%;
      align-items: center;
      width: 100%;
      display: block;
      flex: 9;

      &:focus {
        outline: none;
      }
    }
  }
}
