.content_wrapper {
  overflow-y: scroll;
  height: calc(100vh - 85px);
  position: relative;
  width: 50%;

  .articlecontent {
    border-bottom: solid 1px black;
    display: flex;
    align-items: center;
    padding-left: 5px;
  }
}
