.articleitem {
  flex: 1;
  border-bottom: solid 1px black;
  display: flex;
  height: 70px;
  position: 0;

  @media screen and (max-width: 1280px) {
    height: 85px;
  }

  .articlemenu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 100%;
    border-right: solid black 1px;

    :hover {
      cursor: pointer;
    }
  }

  .articlecontent {
    display: flex;
    flex: 9;
    align-items: center;
    padding-left: 5px;

    time {
      font-size: 11px;
      font-weight: 200;
    }
  }

  .articlemenulist {
    display: flex;
    flex: 9;

    .addbutton {
      display: flex;
      flex: 5;
      justify-content: center;
      align-items: center;
      border-right: solid 1px black;
      cursor: pointer;

      &:hover {
        color: white;
        background-color: black;
      }
    }

    .deletebutton {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      flex: 1;

      &:hover {
        color: white;
        background-color: black;
      }
    }
  }
}

.articlemodal {
  border-bottom: solid 1px black;
  display: flex;
  height: 60px;
  z-index: 99999;

  .articlemenu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 100%;
    border-right: solid black 1px;

    :hover {
      cursor: pointer;
    }
  }

  .articlecontent {
    display: flex;
    flex: 9;
    align-items: center;
    padding-left: 5px;

    time {
      font-size: 12px;
      font-weight: 200;
    }
  }

  .articlemenulist {
    display: flex;
    flex: 9;

    .addbutton {
      display: flex;
      flex: 5;
      justify-content: center;
      align-items: center;
      border-right: solid 1px black;
      cursor: pointer;

      &:hover {
        color: white;
        background-color: black;
      }
    }

    .deletebutton {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      flex: 1;

      &:hover {
        color: white;
        background-color: black;
      }
    }
  }
}
