.section {
  position: absolute;
  display: flex;
  left: 80px * 2;
  top: 0;
  min-height: 100%;
  width: calc(100vw - 5 * 80px);
  padding-top: 0;
  transition: all 1s ease-in-out;
  transform: translateX(100%);
}

.slideIn {
  transition: all 1s ease-in-out;
  transform: translate3d(0%, 0px, 0px);
}

.input_title {
  padding: 30px 20px;
  border: none;
  border-bottom: 1px solid black;
  font-size: 30px;
  width: 100%;
  margin-bottom: 20px;

  &:focus {
    outline: none;
  }
}

.button__md {
  margin: 10px;
  padding: 10px 40px;
  font-size: 14px;
  border: solid 1px black;
}
