.topbar {
  display: flex;

  p {
    width: 50%;
    text-align: right;
    margin-top: 50px;
    position: relative;

    span {
      position: absolute;
      margin-left: -25px;
      bottom: -2px;
    }
  }
}

.main {
  height: calc(100% - 200px);
}
