.topbar {
  display: flex;
  position: relative;

  p {
    width: 50%;
    text-align: right;
    margin-top: 50px;

    span {
      position: absolute;
      margin-left: -25px;
      bottom: -2px;
    }
  }

  p:nth-child(2) {
    padding-right: 30px;
  }
}

.main {
  height: calc(100% - 200px);
  display: flex;

  .main__left {
    border-right: solid black 1px;
    width: 50%;
  }

  .main__right {
    width: 50%;
  }
}
